@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var contactForm = new Crito.Models.ContactForm();
}

        <div class="container d-flex justify-content-center">
        
        <div class="contacts-header-grid">
         
<div class="item">
    
<div class="image"><img src="~/images/icons/location.png" alt="" /></div>
<div><h5>@Model.Value("visitUsHeader")</h5><p>@Model.Value("visitUsStreetAddress") <br />@Model.Value("visitUsPostalCodeCity")</p></div>
</div>
<div class="item">

            <div class="image"><img src="~/images/icons/call.png" alt="" /></div>
<div><h5>@Model.Value("callUsHeader")</h5><p>@Model.Value("callUsPhoneNumber1")<br />@Model.Value("callUsPhoneNumber2")</p></div>
</div>
<div class="item">

            <div class="image"><img src="~/images/icons/email.png" alt="" /></div>
<div><h5>@Model.Value("emailUsHeader")</h5><p>@Model.Value("emailUsAddress1")<br />@Model.Value("emailUsAddress2")</p></div>
</div>
        </div>
        </div>
        <div class="container contact-form-area">
         
<div class="header">
<h2>Leave us a message for any information</h2>
</div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @using (Html.BeginUmbracoForm("Index", "Contacts", FormMethod.Post, new { @class = "contact-form-area" }))

   
    {

        <div asp-validation-summary="All"></div>

        <input asp-for="@contactForm.Name" type="text" name="Name" placeholder="Name*" />
        <input asp-for="@contactForm.Email" type="email" name="Email" placeholder="Email*" />
        <textarea asp-for="@contactForm.Message" name="Message" id="message" cols="30" rows="5" placeholder="Your Message*"></textarea>
   
        <button class='contact-btn' type="submit">Send Message&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right"></i></button>

    }
           </div>

          
          <div class="container-fluid">
          <iframe
          
          class=' google-map'
          title='google map'  
        src=@Model.Value("googleMapsURL") 
       
       allowFullScreen={true}
       loading="lazy" 
       referrerPolicy="no-referrer-when-downgrade">
      
          </iframe>
          </div>