@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.Blocks;


<div class='container-fluid showcase'>
    <div class='showcase container mb-5'>
        <div class='breadcrumbs pt-5 py-3'>Home News</div>
        <div><h3>News & Articles</h3></div>
    </div>
</div>

@{
    var articleTitle = Model.Value<string>("singleArticleTitle");
    var date = Model.Value<DateTime>("singleArticleDate");
    var category = Model.Value<string>("singleArticleCategory");
    var author = Model.Value<string>("singleArticleAuthor");
    var mainImage = Model.Value<IPublishedContent>("singleArticleImage");
    var mainContent = Model.Value<string>("singleArticleMainContent");
    var mainArticleQuote = Model.Value<string>("singleArticleQuote");
    var singleArticleCreditInfo = Model.Value<string>("singleArticleCreditInfo");
    var tags = Model.Value<IEnumerable<string>>("singleArticleTags");

   

    var recentArticles = Model.AncestorOrSelf("articleContainerPage").Children().Where(x => x.ContentType.Alias == "singleArticle").OrderByDescending(x => x.Value<DateTime>("singleArticleDate")).Take(4);




}

@{
    var categories = new List<string> { "Tech", "Business", "Freelancing" }; // ... add others
    Dictionary<string, int> categoryCounts = new Dictionary<string, int>();

    var allArticles = Model.AncestorOrSelf("articleContainerPage").Children().Where(x => x.ContentType.Alias == "singleArticle").ToList();

    foreach (var category1 in categories)
    {
        int count = allArticles.Count(x => string.Equals(x.Value<string>("singleArticleCategory").Trim(), category1.Trim(), StringComparison.OrdinalIgnoreCase));


        categoryCounts.Add(category1, count);
    }
    // foreach (var article in allArticles)
    // {
    //     <div>Article Category: @article.Value("singleArticleCategory")</div>
    // }

}



          <section class='container mainarticle'>
            <div class='container-fluid justify-content-center my-5'>
                <div class=' d-flex justify-content-flex-start mt-5'>
                <div><h3>@articleTitle</h3></div>
                </div>
                <div class=' d-flex justify-content-flex-start'>
                  <div class="me-4">@date.ToString("MMM dd, yyyy")</div>
            <span class="me-4"><i class="fa-solid fa-circle"></i></span>
                   <div class="me-4">@category</div>
            <span class="me-4"><i class="fa-solid fa-circle"></i></span>
                    <div>@author</div>
                </div>
                <div class='mainArticle-grid'>
                    <div class='articlemain my-5'>
                      <img src="@mainImage.Url()" alt="Article Image" /> 
                <div>@Html.Raw(mainContent)</div>

                        <div class='d-flex mainquote'>
                            <div class='quote'><i class="fa-sharp fa-solid fa-quote-right fa-2xl"></i></div>
                            <div>@mainArticleQuote</div>
                        </div>
                        <p><small>@singleArticleCreditInfo</small></p>

                        <div class='d-flex my-5 buttons'>
                            @if (tags != null)
                            {
                                foreach (var tag in tags)
                                {
                                    <button>@tag</button>
                                }
                            }
                        </div>
                    </div>
                    <div class='righ-column'>
                        <div class="search-container my-5 d-grid">
                    <form class="d-grid" action="/search" method="get">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                        <input type="text" name="query" class="search-input" placeholder="Type to search..." />
                        <input type="submit" value="Search" style="display: none;" />
                    </form>

                        </div>
                        <div class='recent-posts mt-4'>
                            <div><h6>Recent Posts</h6></div>
                            <div class='item'>
                             @*  <div class='headline mt-4'>
                               <a to='/post' >  <p>How To Blow Through Capital At An Incredible Rate</p>
                                <div class='date mb-3'>Jan 14, 2020</div>
                                </a>
                   </div>
                      <div class='headline mt-3'>
                   <a to='/post' >  <p>Design Studios That Everyone Should Know About? </p>
                    <div class='date mb-3'>Jan 14, 2020</div>
                    </a>
                   </div>
                      <div class='headline mt-3'>
                   <a to='/post' >  <p>How did we get 1M+ visitors in 30 days without anything!</p>
                    <div class='date mb-3'>Jan 14, 2020</div>
                    </a>
                   </div>
                      <div class='headline mt-3'>
                   <a to='/post' >  <p>Figma On Figma: How We Built Our Website Design System</p>
                    <div class='date mb-3'>Jan 14, 2020</div>
                    </a>
                   </div> *@



                        @foreach (var recentArticle in recentArticles)
                        {
                          
                            var fullDate = recentArticle.Value("singleArticleDate").ToString();
                            var datePart = fullDate.Split(' ')[0];
                            var formattedDate = DateTime.Parse(datePart).ToString("MMM dd, yyyy");


                            <div class='headline mt-3'>
                                <a href="@recentArticle.Url()">
                                    <p>@recentArticle.Value("singleArticleTitle")</p>
                                    <div class='date mb-3'>@formattedDate</div>

                                </a>
                            </div>



                        }

                            </div>
                            </div>
                        <div class='categories mt-4 '>
                            <div><h6>Categories</h6></div>
                            <div class='categories-items'>
                                <div class='mt-4'>Technology <span>- 20 Posts</span></div>
                                <div>Freelancing <span>- 07 Posts</span></div>
                                <div>Writing <span>- 16 Posts</span></div>
                                <div>Marketing <span>- 11 Posts</span></div>
                                <div>Business <span>- 35 Posts</span></div>
                                <div>Education <span>- 14 Posts</span></div>
                        @foreach (var category1 in categoryCounts)
                        {
                            <div>@category1.Key <span>- @category1.Value Posts</span></div>
                        }

                            </div>

                    </div>

                    </div>
            </div>
            </div>
          </section>





